node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Uploaded files
uploads/*
!uploads/.gitkeep
!uploads/temp/
uploads/temp/*
!uploads/temp/.gitkeep
!uploads/images/
uploads/images/*
!uploads/images/.gitkeep
